.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
* {
	outline: 0;
}
.relative{
    position: relative;
}
/* ============================== */
/* ! Clearfix hack para IE        */
/* ============================== */

html.lt-ie7 .row,
html.lt-ie7 .clr,
html.lt-ie7 .group							{ zoom: 1; } /* IE6 */


html.lt-ie8 *:first-child+html .row,
html.lt-ie8 *:first-child+html .clr,
html.lt-ie8 *:first-child+html .group		{ zoom: 1; } /* IE7 */


/* ============================== */
/* ! Font faces                   */
/* ============================== 

@font-face {
    font-family: 'al';
    src: url('../font/AbrahamLincoln.eot');
    src: url('../font/AbrahamLincoln.eot?#iefix') format('embedded-opentype'),
     url('../font/AbrahamLincoln.woff') format('woff'),
     url('../font/AbrahamLincoln.ttf') format('truetype'),
     url('../font/AbrahamLincoln.svg#AbrahamLincoln') format('svg');
    font-weight: lighter;
    font-style: lighter;
}
 move this shit if you have a fucking font */ 


/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body,html{
    color: #FFFFFF; 
    height: 640px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #faf8ea;
}
body {
    font-family: "arial";
    font-weight: lighter;
    
}

